<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>

<body>

    {{> header}}

    <ul>
        {{#each people}}
        <li>{{this}}</li>
        {{/each}}
    </ul>

    {{getYear 10}}
    {{> footer}}
</body>

</html>